In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv("algebradata.csv")

In [5]:
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [6]:
df.shape

(999, 5)

In [7]:
df_500 = df.take(np.random.permutation(len(df))[:500])

In [9]:
df_500.shape

(500, 5)